@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}
